@font-face {
  font-family: book;
  src: url(fonts/GothamBook.ttf);
}

@font-face {
  font-family: bebas;
  src: url(fonts/BEBAS.ttf);
}

@font-face {
  font-family: med;
  src: url(fonts/Gotham-Medium.otf);
}

@font-face {
  font-family: bd;
  src: url(fonts/GothamBold.ttf);
}